<!DOCTYPE html>
<html>
<title>Dashboard</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey">

<!-- Top container -->
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
  <span class="w3-bar-item w3-right"></span>
</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container w3-row">
    <div class="w3-col s4">
      <img src="/w3images/avatar2.png" class="w3-circle w3-margin-right" style="width:46px">
    </div>
    <div class="w3-col s8 w3-bar">
      <span>Welcome!! <strong></strong></span><br>
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i></a>
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-user"></i></a>
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-cog"></i></a>
    </div>
  </div>
  <hr>
  <div class="w3-container">
    <h5>Dashboard</h5>
  </div>
  <div class="w3-bar-block">
      <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
      <a href="/" class="w3-bar-item w3-button w3-padding "><i class="fa fa-users fa-fw"></i>Home</a>
      <a href="/cost" class="w3-bar-item w3-button w3-padding "><i class="fa fa-eye fa-fw"></i>Cost</a>
      <a href="/consumer_demand_map" class="w3-bar-item w3-button w3-padding"><i class="fa fa-eye fa-fw"></i>Consumer Demand Maps</a>
      <a href="/prosumer_supply" class="w3-bar-item w3-button w3-padding "><i class="fa fa-users fa-fw"></i>Prosumer Supply</a>
      <a href="/conventional_energy_generated" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bullseye fa-fw"></i>Conventional Energy Generated</a>
      <a href="/accuracy_of_forecasting_models" class="w3-bar-item w3-button w3-padding"><i class="fa fa-diamond fa-fw"></i>Accuracy of Forecasting Models</a>
      <a href="/scheduling_decision_report" class="w3-bar-item w3-button w3-padding w3-blue"><i class="fa fa-bell fa-fw"></i>Scheduling Decision Report</a>
      <a href="/contact_us" class="w3-bar-item w3-button w3-padding "><i class="fa fa-bank fa-fw"></i>  Contact us</a> </div>
  </div>
</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h3><b><i class="fa fa-dashboard"></i> My Dashboard</b></h3>
  </header>
  <br>
  <br>
 <div style="background-color:white ; border:5px solid black" width="50%">
     <h5 style="text-align:center">Scheduled Power(Kw)</h5>
<canvas id="myChart5" height="120%"></canvas>
</div>
<script>
     var ctx = document.getElementById('myChart5').getContext('2d');
     var alldata=JSON.parse("{{data|escapejs}}"); 
     var dataNode = document.getElementById('alldata'); 
    var xdata=[]
    var y1data=[]
    var y2data=[]
    var y3data=[]
    var y4data=[]
    xdata=alldata['X_Value']
    y1data=alldata['Y1_Value']
    y2data=alldata['Y2_Value']
    y3data=alldata['Y3_Value']
    y4data=alldata['Y4_Value']
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: xdata,
        datasets: [{
            label: 'Grid power',
            data: y1data,
            borderWidth: 1,
            fill: false,
            lineTension: 0,
            borderColor: 'orange'
        },
        {
            label: 'ESS Power',
            data: y2data,
            borderWidth: 1,
            fill: false,
            lineTension: 0,
            borderColor: 'blue'
        },
        {
            label: 'Green Power',
            data: y3data,
            borderWidth: 1,
            fill: false,
            lineTension: 0,
            borderColor: 'green'
        },
        {
            label: 'Total Load',
            data: y4data,
            borderWidth: 1,
            fill: false,
            lineTension: 0,
            borderColor: 'red'
        }
        ],
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                },
                scaleLabel: {
display: true,
labelString: 'y AXIS label'
}
            }],
            xAxes: [{
                ticks: {
                    beginAtZero: true
                },
                scaleLabel: {
display: true,
backgroundColor:'rgb(10,10,10)',
labelString: 'x AXIS label'
}
            }]
        }
    }
}); 
</script>
<div class="w3-panel">
    <div class="w3-row-padding" style="margin:0 -16px">
      <div class="w3-third">
        <h5>Select Hour For Which Scheduling Report Is Required</h5>
        <input id="time" type="number" step="1" required >
        <br>
        <button onclick="schedule_function()">Submit</button>
        <script>
          function schedule_function(){
            var alldata=JSON.parse("{{data|escapejs}}");
            var xval=parseInt(document.getElementById("time").value);
            var y1val=parseInt(alldata['Y1_Value'][xval]);
            var y2val=parseInt(alldata['Y2_Value'][xval]);
            var y3val=parseInt(alldata['Y3_Value'][xval]);
            var y4val=parseInt(alldata['Y4_Value'][xval]);
            document.getElementById("grid_power").innerHTML=y1val;
            document.getElementById("battery_power").innerHTML=y2val;
            document.getElementById("total_green_power").innerHTML=y3val;
            document.getElementById("total_load_power").innerHTML=y4val;
            var ctx = document.getElementById('myChart6').getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: ['grid_power', 'battery_power', 'total_green_power', 'total_generated_power', 'total_load_power'],
                            datasets: [{
                                label: 'Scheduled Power At specified Title',
                                data: [y1val, y2val,y3val,y1val+y2val+y3val,y4val],
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(255, 206, 86, 0.2)',
                                    'rgba(75, 192, 192, 0.2)',
                                    'rgba(153, 102, 255, 0.2)'
                                ],
                                borderColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)'
                                  
                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                    });
          }
        </script>
      </div>
      <div class="w3-twothird">
        <h5>Panel</h5>
        <table class="w3-table w3-striped w3-white">
          <tr>
            <td><i class="fa fa-user w3-text-blue w3-large"></i></td>
            <td>Scheduled Grid Power</td>
            <td id="grid_power"><i>-</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-bell w3-text-red w3-large"></i></td>
            <td>Scheduled Battery Power</td>
            <td id="battery_power"><i>-</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-users w3-text-green w3-large"></i></td>
            <td>Forecasted Green Power(Solar+Wind)</td>
            <td id="total_green_power"><i>-</i></td>
          </tr>
          <tr>
              <td><i class="fa fa-users w3-text-yellow w3-large"></i></td>
              <td>Forecasted Load Power Demand</td>
              <td id="total_load_power"><i>-</i></td>
            </tr>
        </table>
      </div>
    </div>
  </div>
<br>
<br>
<br>
<div class="w3-container">
  <canvas id="myChart6" height="100%"></canvas>
  </div>
    <!-- Footer -->
    <footer class="w3-container w3-padding-16 w3-light-grey">
        <h4>FOOTER</h4>
        <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
      </footer>
    
      <!-- End page content -->
    </div>
    
    <script>
    // Get the Sidebar
    var mySidebar = document.getElementById("mySidebar");
    
    // Get the DIV with overlay effect
    var overlayBg = document.getElementById("myOverlay");
    
    // Toggle between showing and hiding the sidebar, and add overlay effect
    function w3_open() {
      if (mySidebar.style.display === 'block') {
        mySidebar.style.display = 'none';
        overlayBg.style.display = "none";
      } else {
        mySidebar.style.display = 'block';
        overlayBg.style.display = "block";
      }
    }
    
    // Close the sidebar with the close button
    function w3_close() {
      mySidebar.style.display = "none";
      overlayBg.style.display = "none";
    }
    </script>
</body>
</html>
